{% extends 'base.html.twig' %}

{% block title %}Add Book{% endblock %}

{% block body %}
<h1>Add a New Book</h1>

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.category) }}
    {{ form_row(form.author) }}
    <button class="btn">Add Book</button>
{{ form_end(form) }}

<a href="{{ path('ShowPublishedBooks') }}">Back to book list</a>
{% endblock %}