{% extends 'base.html.twig' %}

{% block title %}Book Details{% endblock %}

{% block body %}
<h1>Book</h1>

<table>
    <tr>
        <th>Title</th>
        <td>{{ book.title }}</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>{{ book.category }}</td>
    </tr>
    <tr>
        <th>Author</th>
        <td>{{ book.author.username }}</td>
    </tr>
    <tr>
        <th>Publication Date</th>
        <td>{{ book.publicationDate|date('Y-m-d') }}</td>
    </tr>
    <tr>
        <th>Published</th>
        <td>{{ book.enabled ? 'Yes' : 'No' }}</td>
    </tr>
</table>

<br>

<a href="{{ path('ShowPublishedBooks') }}">
   Back to List
</a>
{% endblock %}
